:host {
    align-items: center;
    display: flex;
    justify-content: center;

    .spinner-default {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .spinner-default div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #39BEF0;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .spinner-default div:nth-child(1) {
        left: 8px;
        animation: spinner-default1 0.6s infinite;
    }
    .spinner-default div:nth-child(2) {
        left: 8px;
        animation: spinner-default2 0.6s infinite;
    }
    .spinner-default div:nth-child(3) {
        left: 32px;
        animation: spinner-default2 0.6s infinite;
    }
    .spinner-default div:nth-child(4) {
        left: 56px;
        animation: spinner-default3 0.6s infinite;
    }
    @keyframes spinner-default1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes spinner-default3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes spinner-default2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }

    .spinner-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .spinner-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #39BEF0;
        animation: spinner-grid 1.2s linear infinite;
    }
    .spinner-grid div:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
    }
    .spinner-grid div:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
    }
    .spinner-grid div:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
    }
    .spinner-grid div:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
    }
    .spinner-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
    }
    .spinner-grid div:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
    }
    .spinner-grid div:nth-child(7) {
    top: 56px;
        left: 8px;
        animation-delay: -0.8s;
    }
    .spinner-grid div:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
    }
    .spinner-grid div:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
    }
    @keyframes spinner-grid {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }
}
